{% extends 'base.html' %}
{% load static %}
{% block title %} Dental Implants - Smile Ever Dental Clinic| Bangalore, India {% endblock %}
{% block content %}


    <header>
        <div class="wrapper">
            <img src="{% static 'images/dental-implant.jpg' %}" alt="about-img" width="100%">
        </div>
    </header>

    <section class="container">
        <h1 class="pt-5 pb-5 display-4">Dental Implants</h1>
        <p>
            The loss of one or more teeth can have a major impact on the function and shape of your mouth, as well as the appearance of your smile:
        </p>
        <ul>
            <li>
                Missing teeth can change the shape of your mouth and the appearance of your face.
            </li>
            <li>
                The spaces left by missing teeth can reduce the attractiveness of your smile and diminish your sense of confidence.
            </li>
            <li>
                Gaps in your teeth can impair your ability to eat certain foods. 
            </li>
        </ul>
        <h3>About Dental Implants</h3>
        <p class="pt-3">
            A Dental Implant is made from titanium. It bonds to the jaw, much like the root of a natural tooth and permanently replaces a lost tooth. Dental implants are suitable to anyone in good general health. They are put in place during a simple and short surgical procedure done under local anesthetic.
        </p>

        <h3>Dental Implants for Single Missing Tooth</h3>
        <p class="pt-3">
            In cases where a single tooth and its root are damaged, dental implants offer a fast and easy solution that replaces the tooth with minimum discomfort.
        </p>
        <p>
            As with all of our dental procedures we strive to provide a comfortable and relaxing environment for our dental implant therapy. Contact us today to learn how dental implants can improve your smile and your life.
        </p>
    </section>


    
{% endblock %}