{% extends 'base.html' %}
{% load static %}
{% block title %} General Dentistry - Smile Ever Dental Clinic | Bangalore, India {% endblock %}
{% block content %}

    <header>
        <div class="wrapper">
            <img src="{% static 'images/general-dentistry.jpg' %}" alt="about-img" width="100%">
        </div>
    </header>

    <section class="container">
        <h1 class="pt-5 pb-5 display-4">
            Prevention & Dental Care With Smile Ever Dental
        </h1>

        <p>
            Regular checkups will help you maintain excellent oral health. We offer you and your family general dentistry services. From six months cleanings to standard tooth extractions. We promise a comfortable and positive experience at your appointment.
        </p>
        <ul>
        <li>
            It is critical that children learn how to care for their teeth, even before permanent teeth emerges. Our dental professionals make it fun for kids to visit the Dentist, ensuring they will develop good habits that last a lifetime.
        </li>
        <li>
            Teens need regular checkups to ensure continued oral health as they move into adulthood. Issues with tooth alignment often emerge at this age, requiring specialized attention from our orthodontic experts. Our full range of dental services address all of these issues.
        </li>
        <li>
            The condition of teeth can change as we age. Adults need regular dental care to maintain good oral health.
        </li>
        <li>
            Seniors need specialized dental services that focuses on the effects of aging of the gums and teeth. We offer exceptional care for seniors from general cleanings to specialized  periodontics needs and even possible denture care.
        </li></ul>
    <br>
        <h3>Dental Hygiene Care</h3>

        <p>
            Dental Hygiene is crucial to your overall health. We recommend our patients visit our office twice a year to ensure their optimal oral health and to avoid serious and costly issues in the future. During a routine cleaning, the hygienist will scale and polish your teeth, provide fluoride treatment, take necessary x-rays and provide oral hygiene instructions. During a dental exam the Dentist will perform an oral cancer screening and discuss findings and concerns you may have.
        </p>
    </section>
    













{% endblock %}