{% extends 'base.html' %}
{% load static %}
{% block title %} Gum Surgery - Smile Ever Dental Clinic | Bangalore, India {% endblock %}
{% block content %}

    <header>
        <div class="wrapper">
            <img src="{% static 'images/gum-surgeries.jpg' %}" alt="about-img" width="100%" height="500px">
        </div>
    </header>


    <section class="container">
        <h1 class="pt-5 pb-5 display-4">Gum Surgeries</h1>

        <p>
            Gum surgeries are needed for patients who have developed gum disease. Gum disease is one of the most common reasons for tooth loss.
        </p>
        <p>
            It starts gradually. Some of the early signs are swollen, red, bleeding gums or bad breath which is followed by more severe symptoms like loose, shifted teeth and a dull ache in the gums.
        </p>
        <p>
            Periodontitis is an advanced form of gingivitis that leads to inflammation and damaged bone and tissue.
        </p>

        <p>
            Periodontitis usually requires a visit to a gum doctor, known as a periodontist, and treatment may involve gum surgery.
        </p>

        <p>
            There are many types of gum surgeries that can help alleviate these symptoms. Besides poor oral care routine, there are certain chronic illnesses and certain medications that can lead to gum problems.
        </p>
    </section>















{% endblock %}