{% extends 'base.html' %}
{% load static %}
{% block title %} Orthodontics - Smile Ever Dental Clinic | Bangalore, India {% endblock %}
{% block content %}


    <header>
        <div class="wrapper">
            <img src="{% static 'images/orthodontics.jpg' %}" alt="about-img" width="100%">
        </div>
    </header>


    <section class="container">
        <h1 class="pt-5 pb-5 display-4">
            Orthodontics
        </h1>
        <h3>Want Straight, Healthy Teeth and a Confident Smile?</h3>
        <p>
            Our teeth tend to slightly become crooked over time, especially if braces were worn as a kid and the retainer instruction were not followed. Straightening your teeth as an adult may seem to be an outreached dream and there may be a long list of reasons why you postpone it…
        </p>

        <h3>
            Conventional Orthodontics
        </h3>
        <p>
            When you think of orthodontics you might envision a teenager with a mouthful of metal. The latest advances in orthodontics have made that image a thing of the past. Braces come in a variety of materials and are used increasingly by adults to correct problems with spacing and to address temporomandibular disorders (TMD).
        </p>
        <p>
            We are pleased to offer this highly specialized orthodontic services at our clinic. We use the most advanced orthodontic/orthopedic approaches to treat our patients. We pay attention not only to the alignment of the teeth but also to the health of the muscles, ligaments and bony structures to maintain long term stability and health in the entire dento-facial apparatus.
        </p>
        <p>
            Many adults are also discovering the difference that improved alignment can make to the appearance of their smiles. The use of braces to improve the look of a smile is gaining in popularity. With newer materials, braces are less visible than ever before and can improve the look of your teeth as well as your overall health.
        </p>
    </section>









{% endblock %}