{% extends 'base.html' %}
{% load static %}
{% block title %} Periodontics - Smile Ever Dental Clinic | Bangalore, India {% endblock %}
{% block content %}

    <header>
        <div class="wrapper">
            <img src="{% static 'images/periodontics.jpg' %}" alt="about-img" width="100%">
        </div>
    </header>

    <section class="container">
        <h1 class="pt-5 pb-5 display-4">
            Periodontics
        </h1>

        <h3>
            Comprehensive Treatment for Periodontal Disease
        </h3>
        <p class="pt-3">
            Periodontal disease (gum disease) is more common than you might think. Periodontal disease is serious, as it is not usually detected until it has reached advanced stages. Many people may have this disease without even knowing it. It is estimated that more than half of adults over the age of 30 have the disease in some form.
        </p>
        <p class="pt-3">
            Periodontal disease is serious. It is the leading cause of tooth loss in adults. New research is exploring possible links between gum disease and diabetes, cardiovascular disease and other serious ailments.
        </p>
        <p class="pt-2">
            The good news is that gum disease is treatable. If caught early it can be reversed. Regular dental checkups are critical in the prevention and detection of periodontal disease.
        </p>


        <h3 class="pt-5 pb-4">
            Treatments for Periodontal Disease – Ensure the Health of Your Gums
        </h3>
        <p>
            Before we talk about treatment, we like to talk about prevention. Regular checkups are the best way to prevent gum disease. At a regular cleaning your dentist and hygienist will remove the plaque and tartar that can lead to gum disease. They will also examine the gums for any signs of disease.
        </p>
        <p>
            If you are diagnosed with periodontal disease there are a number of surgical and non-surgical treatments available- depending on the severity.
        </p>
        <p>
            We offer the latest treatments for periodontal disease but we always stress the importance of prevention. To ensure the health of your gums, contact our office for an appointment and be sure to make brushing and flossing part of your oral health care routine.
        </p>

    </section>







{% endblock %}